html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}
h1,
h2 {
  font-family: "Boogaloo", cursive;
  font-weight: 400;
  color: #272b23;
}
.scram {
  display: none;
}

@font-face {
  font-family: "LCD";
  src: local("LCD"), url(./Assets/LCD.otf) format("opentype");
}
