h1,
h2,
h3,
h4 {
  font-family: hobeaux, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #272b23;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

html {
  background-color: #d8f0c1;
}

.scram {
  display: none;
}
/*
font-family: hobeaux, sans-serif;
font-style: normal;
font-weight: 500; */
