html {
  font-size: 62.5%;
  min-height: 100vh;
  min-width: 100vw;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
h1,
h2 {
  font-family: "Boogaloo", cursive;
  font-weight: 400;
  color: #272b23;
}
.scram {
  display: none;
}
